<nav class="relative flex flex-wrap items-center justify-between w-full py-4 shadow-lg bg-main">
  <div class="flex flex-wrap items-center justify-center w-full px-6 container-fluid">
    <div class="space-x-9 container-fluid">
      <a class="mt-2 -mx-7 lg:mt-0" href="#">
      <%= link_to 'â†', user_path(current_user.id), class:'text-light text-decoration-none text-xl hover:text-text focus:text-text' %>
        <span class="font-medium text-light">NEW PURCHASE TYPE</span>
        <span class="font-medium"><%= link_to 'Next',{}, class: 'text-light text-m text-decoration-none hover:text-text focus:text-text'%></span>
      </a>
    </div>
  </div>
</nav>

<div class=''>
  <code class= ''>Purchase Type</code>
  <div class='w-70'>
    <%=form_with model: @group, url: user_groups_path,   scope: :group do |form| %>
      <%= form.label 'Choose a Purchase Type', class: '' %>
      <%= form.select :icon, options_for_select([
      ['Motorcycle', 'https://via.placeholder.com/150.png/09f/fff'],
      ['Home', ''],
      ['Travel', ''],
      ['Tech', 'https://via.placeholder.com/150.png/09f/fff'],
      ['Hygiene', ''],
      ['Clothing', ''],
      ['Training', ''],
      ['Food', '']
      ]), {}, class:'form-select', id: 'icon', aria_label: 'purchase'%>
      <%= form.hidden_field :user_id, value: current_user.id  %>
      <div>
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class=''>
        <%= form.submit 'Add Purchase Type', class:'' %>
      </div>
    <% end %>
  </div>
</div>
