<nav class="fixed flex flex-wrap items-center justify-between block w-full py-4 mb-4 shadow-lg bg-main">
  <div class="flex flex-wrap items-center justify-center w-full px-6 container-fluid">
    <div class="space-x-16 container-fluid">
      <a class="mt-2 -mx-7 lg:mt-0" href="#">
      <%= link_to 'â†', user_path(current_user.id), class:'text-light text-decoration-none text-xl hover:text-text focus:text-text h-2 w-2' %>
        <span class="font-medium text-light">PURCHASED</span>
        <span class="font-medium"><%= link_to 'Next',{}, class: 'text-light text-m text-decoration-none hover:text-text focus:text-text'%></span>
      </a>
    </div>
  </div>
</nav>

<div class='flex flex-col items-center block mx-auto text-sm '>
<div class='sticky mt-20 top-20'>
<% @groups.each do |group| %>
  <% if group.id == params[:id].to_i %>
    <div class='flex flex-row items-center justify-between py-3 space-x-4 in w-75'>
      <div><%= image_tag group.icon, class:'h-10 w-10' %>
      </div>
      <span><code class='text-2px text-second'><%= group.name %></code> total purchased: <code class='text-danger'>$</code><%= Group.total_purchased(params[:id]) %>
      </span>
    <% end %>
  <% end %>
 </div>
</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class='sticky bottom-0 flex flex-col items-center justify-center block h-64 space-y-6'>
  <div class='flex flex-col block overflow-auto h-62'>
    <% @purchase_groups.each do |purchase_group| %>
     <% if purchase_group.group_id == params[:id].to_i %>
     <% purchases = Purchase.where(id: purchase_group.purchase_id) %>
     <% purchases.each do |purchase| %>
      <div class = 'block p-6 my-1 bg-white rounded-lg shadow-lg'>
        <div class= 'flex flex-row justify-between w-64 space-x-3'>
          <p class= 'mb-2 text-xl font-medium leading-tight text-gray-900'><%= purchase.name %></p>
          <p> $<%= purchase.amount %></p>
        </div>
        <div class= ''>
          <p>Date: <%=((purchase.created_at).to_s)[0,10] %></p>
        </div>
       <% end %>
       </div>
      <% end %>
    <% end %> 
    <br />
    
</div>
  <div class= 'sticky top-0 flex flex-row items-center justify-center py-3 space-x-4 h-14 w-80 bg-second'>
    <div class= ''>
      <div class= 'text-center'><%= link_to 'Add new purchase', new_user_group_purchase_path(current_user.id, params[:id]), class: 'inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out border-2 border-light-blue-500 border-opacity-100 w-72'%>
      </div>
     </div>
  </div>
</div>
