<p style="color: green"><%= notice %></p>
<nav class='navbar'>
  <div class=''>
      <%= link_to 'â†', user_path(current_user.id), class:'' %>
      <a class='' href='#'>New Purchase Type</a>
  </div>
</nav>



<div class=''>
  <div class=''>
    <div class=''>
      <span>Welcome Saver <%= @user.name %></span>
      <div>
        <%= button_to 'Logoff', destroy_user_session_path,  method: :delete, class: '' %>
      </div>
    </div>
  </div>
  
  <div class=''>
    <%= @groups.each do |group| %>
      <div class='justify-between'>
       <div class= ''>
          <%= image_tag group.icon, class: '' %>
          <%= link_to group.name, user_group_path(current_user.id, group.id), class: '' %>
          <p class=''>$<%= Group.total_purchased(group.id)%> </p>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class=''>
    <div class=''>
      <div class=''>
        <%= link_to 'Add Purchase Type', new_user_group_path(params[:id]), class:'' %>
      </div>
    </div>
  </div>
</div>